n8n/workflows/1.0_run_migrations.json
{
  "name": "1.0 Run Migrations Workflow",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "start-node",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "const query = `\n-- Enable UUID extension\nCREATE EXTENSION IF NOT EXISTS \"uuid-ossp\";\n\n-- 1. Topics\nCREATE TABLE IF NOT EXISTS topics (\n    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),\n    title TEXT NOT NULL,\n    description TEXT,\n    created_at TIMESTAMPTZ DEFAULT now()\n);\n\n-- 2. Agents\nCREATE TABLE IF NOT EXISTS agents (\n    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),\n    name TEXT NOT NULL,\n    bio TEXT NOT NULL,\n    voice_id TEXT NOT NULL, -- ElevenLabs Voice ID\n    provider TEXT NOT NULL, -- 'grok', 'claude', 'gemini', 'openai'\n    created_at TIMESTAMPTZ DEFAULT now()\n);\n\n-- 3. Conversations\nCREATE TABLE IF NOT EXISTS conversations (\n    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),\n    agent_1_id UUID REFERENCES agents(id),\n    agent_2_id UUID REFERENCES agents(id),\n    status TEXT DEFAULT 'scheduled', -- 'scheduled', 'active', 'completed'\n    topic_id UUID REFERENCES topics(id),\n    topic_title TEXT, -- Denormalized for easy access\n    full_conversation TEXT, -- Stored as a large text block or JSON string for quick context loading\n    created_at TIMESTAMPTZ DEFAULT now()\n);\n\n-- 4. Turns (The granular dialogue lines)\nCREATE TABLE IF NOT EXISTS turns (\n    id BIGINT GENERATED BY DEFAULT AS IDENTITY PRIMARY KEY,\n    conversation_id UUID REFERENCES conversations(id) ON DELETE CASCADE,\n    turn_number INT NOT NULL,\n    agent_id UUID REFERENCES agents(id),\n    text TEXT, -- The logic text response\n    audio_url TEXT, -- The 11Labs generated audio\n    created_at TIMESTAMPTZ DEFAULT now()\n);\n\n-- 5. Consensus Reports (Final Summary)\nCREATE TABLE IF NOT EXISTS consensus_reports (\n    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),\n    topic_id UUID REFERENCES topics(id),\n    narrative_text TEXT,\n    audio_url TEXT,\n    created_at TIMESTAMPTZ DEFAULT now()\n);\n\n-- Enable Realtime for critical tables (Essential for the UI to update dynamically)\nDO $$\nBEGIN\n    IF NOT EXISTS (SELECT 1 FROM pg_publication_tables WHERE pubname = 'supabase_realtime' AND tablename = 'conversations') THEN\n        ALTER PUBLICATION supabase_realtime ADD TABLE conversations;\n    END IF;\n    IF NOT EXISTS (SELECT 1 FROM pg_publication_tables WHERE pubname = 'supabase_realtime' AND tablename = 'turns') THEN\n        ALTER PUBLICATION supabase_realtime ADD TABLE turns;\n    END IF;\n    IF NOT EXISTS (SELECT 1 FROM pg_publication_tables WHERE pubname = 'supabase_realtime' AND tablename = 'topics') THEN\n        ALTER PUBLICATION supabase_realtime ADD TABLE topics;\n    END IF;\nEND $$;\n`;\n\nreturn { json: { query } };"
      },
      "id": "define-schema",
      "name": "Define Schema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        460
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}"
      },
      "id": "execute-migrations",
      "name": "Execute Migrations",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        900,
        460
      ],
      "credentials": {
        "postgres": {
          "id": "I1xA0t8l3mFWWxfb",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Define Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Schema": {
      "main": [
        [
          {
            "node": "Execute Migrations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}