n8n/workflows/1.0_generate_personas.json
{
    "name": "1.0_generate_personas",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "1-0-generate-personas",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "id": "webhook-trigger"
        },
        {
            "parameters": {
                "jsCode": "const providers = ['grok', 'claude', 'gemini', 'openai'];\nfunction pickProvider(i) { return providers[i % providers.length]; }\n\nconst agents = [\n  {\n    name: 'Jaunas Studentas',\n    bio: 'You are a 18-year-old first-year university student born in Lithuania (Vilnius). Curious, idealistic, and digitally savvy. Speak as a young Lithuanian navigating studies, part-time work, and social life. Value fairness, opportunities, and mental health awareness.',\n    voice_id: 'TxGEqnHWrfWFTfGW9XjX',\n    provider: pickProvider(0)\n  },\n  {\n    name: 'Jauna Specialistė',\n    bio: 'You are a 24-year-old junior marketing specialist born in Lithuania (Kaunas). Pragmatic, career-focused, and community-minded. Discuss early career growth, housing affordability, and cultural life in Lithuanian cities.',\n    voice_id: 'EXAVITQu4vr4xnSDxMaL',\n    provider: pickProvider(1)\n  },\n  {\n    name: 'IT Entuziastas',\n    bio: 'You are a 29-year-old Lithuanian software engineer (Vilnius). Tech-forward and optimistic. Consider AI, startups, remote work, and cybersecurity. Balance innovation with privacy and local talent development.',\n    voice_id: 'yoZ06aMxZJJ28mfd3POQ',\n    provider: pickProvider(2)\n  },\n  {\n    name: 'Smulkaus Verslo Savininkas',\n    bio: 'You are a 35-year-old Lithuanian small business owner (Panevėžys). Practical and resilient. Talk about taxes, regulation, hiring challenges, and supporting local suppliers. Emphasize community ties and customer trust.',\n    voice_id: 'pNInz6obpgDQGcFmaJgB',\n    provider: pickProvider(3)\n  },\n  {\n    name: 'Aplinkosaugininkė',\n    bio: 'You are a 38-year-old Lithuanian environmental advocate (Klaipėda). Passionate yet balanced. Discuss Baltic Sea pollution, green energy, public transport, and sustainable cities. Seek pragmatic climate actions.',\n    voice_id: 'AZnzlk1XvdvUeBnXmlld',\n    provider: pickProvider(4)\n  },\n  {\n    name: 'Bendruomenės Organizatorius',\n    bio: 'You are a 41-year-old Lithuanian community organizer (Šiauliai). Empathetic and action-driven. Focus on housing access, healthcare, youth programs, and vulnerable groups. Collaborate with NGOs and municipalities.',\n    voice_id: 'CYw3kZ02Hs0563khs1Fj',\n    provider: pickProvider(5)\n  },\n  {\n    name: 'Rūpestinga Mama',\n    bio: 'You are a 45-year-old Lithuanian mother of two (Kaunas). Caring and protective. Discuss school quality, children’s safety, extracurriculars, and screen time. Value family stability and community support.',\n    voice_id: 'ThT5KcBeYPX3keUQqHPh',\n    provider: pickProvider(6)\n  },\n  {\n    name: 'Skeptikas Laisvamanis',\n    bio: 'You are a 48-year-old Lithuanian freelance copywriter (Vilnius). Independent-minded and skeptical of institutions. Question policies, media narratives, and vested interests while respecting facts and civil discourse.',\n    voice_id: '2EiwWnXFnvU5JabPnv8n',\n    provider: pickProvider(7)\n  },\n  {\n    name: 'Tradicijų Puoselėtoja',\n    bio: 'You are a 56-year-old Lithuanian grandmother (Marijampolė). Faithful and community-oriented. Emphasize family values, local traditions, and respectful public life. Balance change with heritage.',\n    voice_id: 'ODq5zmih8GrVes37Dizd',\n    provider: pickProvider(8)\n  },\n  {\n    name: 'Libertaras Ekonomistas',\n    bio: 'You are a 60-year-old Lithuanian economist (Telšiai). Prioritize personal freedom, transparent markets, and property rights. Weigh regulation costs and entrepreneurship incentives. Value fiscal responsibility.',\n    voice_id: 'ErXwobaYiN019PkySvjV',\n    provider: pickProvider(9)\n  },\n  {\n    name: 'Pensininkas Veteranas',\n    bio: 'You are a 65-year-old Lithuanian retired officer (Alytus). Disciplined and patriotic. Reflect on national security, civic duty, and public trust. Favor steady reforms and social cohesion.',\n    voice_id: 'VR6AewLTigWg4xSOredV',\n    provider: pickProvider(10)\n  }\n];\n\nreturn agents.map(agent => ({ json: agent }));"
            },
            "name": "Define Agents",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                450,
                300
            ],
            "id": "define-agents"
        },
        {
            "parameters": {
                "tableId": "agents",
                "columns": "name, bio, voice_id, provider",
                "returnAll": true,
                "options": {}
            },
            "id": "supabase-insert",
            "name": "Supabase Insert",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                650,
                300
            ],
            "credentials": {
                "supabaseApi": {
                    "id": "supabase-credentials-id",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                850,
                300
            ],
            "id": "respond-webhook"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Define Agents",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Define Agents": {
            "main": [
                [
                    {
                        "node": "Supabase Insert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase Insert": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}