n8n/workflows/1.1_create_topic_profile.json
{
    "name": "1.1_create_topic_profile",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "1-1-create-topic",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                220,
                300
            ],
            "id": "webhook-trigger",
            "name": "Webhook"
        },
        {
            "parameters": {
                "options": {
                    "systemMessage": "You are a senior researcher for a news radio station. \n\nYour goal is to research a given topic and prepare a briefing for a debate between different personas.\n\nOUTPUT FORMAT:\nYou must output a valid JSON object with exactly these keys:\n{\n  \"title\": \"A concise, neutral title for the topic\",\n  \"description\": \"A markdown formatted string containing the briefing.\"\n}\n\nThe 'description' string should follow this markdown structure:\n### Key Facts\n- [Fact 1]\n- [Fact 2]\n\n### Context\n[Why this is controversial or important]\n\n### Discussion Points\n1. [Question or Angle 1]\n2. [Question or Angle 2]\n..."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.6,
            "position": [
                460,
                300
            ],
            "id": "ai-research-agent",
            "name": "AI Research Agent"
        },
        {
            "parameters": {
                "model": "gpt-4o",
                "options": {
                    "temperature": 0.4
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                460,
                520
            ],
            "id": "openai-gpt4o",
            "name": "OpenAI Chat Model",
            "credentials": {
                "openAiApi": {
                    "id": "openai-credentials-id",
                    "name": "OpenAI Account"
                }
            }
        },
        {
            "parameters": {},
            "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
            "typeVersion": 1,
            "position": [
                580,
                520
            ],
            "id": "serp-api",
            "name": "SerpAPI",
            "credentials": {
                "serpApi": {
                    "id": "serp-api-credentials-id",
                    "name": "SerpAPI Account"
                }
            }
        },
        {
            "parameters": {
                "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"title\": { \"type\": \"string\" },\n    \"description\": { \"type\": \"string\" }\n  },\n  \"required\": [\"title\", \"description\"]\n}"
            },
            "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
            "typeVersion": 1,
            "position": [
                340,
                520
            ],
            "id": "structured-output",
            "name": "Structured Output Parser"
        },
        {
            "parameters": {
                "tableId": "topics",
                "limit": 1,
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "title": "={{ $json.output.title }}",
                        "description": "={{ $json.output.description }}"
                    }
                },
                "options": {}
            },
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                820,
                300
            ],
            "id": "supabase-insert",
            "name": "Supabase Insert",
            "credentials": {
                "supabaseApi": {
                    "id": "supabase-credentials-id",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1040,
                300
            ],
            "id": "respond-webhook",
            "name": "Respond to Webhook"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "AI Research Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Research Agent": {
            "main": [
                [
                    {
                        "node": "Supabase Insert",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Research Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "SerpAPI": {
            "ai_tool": [
                [
                    {
                        "node": "AI Research Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Structured Output Parser": {
            "ai_outputParser": [
                [
                    {
                        "node": "AI Research Agent",
                        "type": "ai_outputParser",
                        "index": 0
                    }
                ]
            ]
        },
        "Supabase Insert": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}